.Button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px 7px;
}
.ButtonGreen {
  background-color: #0f0;
}
.ButtonRed {
  background: #f00;
  color: #fff;
}
.ButtonYellow {
  background: #ff0;
}
