.Popup {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.Close {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}
.Close::after,
.Close::before {
  background: #000;
  content: "";
  height: 2px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.Close::after {
  transform: rotate(45deg);
}
.Close::before {
  transform: rotate(-45deg);
}
.Shadow {
  background: #000;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.Window {
  background: #fff;
  border-radius: 10px;
  height: 250px;
  left: 50%;
  padding: 40px 10px 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
